.container{
	margin-left: 50%;
    width: 500px;
    transform: translateX(-50%);
}

.content{
	border:1px solid black;
	display: inline-block;
    width: 100%;
    transition:transform 1s;

}

.carousel{
	white-space: nowrap;
}
